<h1 class="text-center py-3">Monitor de usuarios.</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Run</th>
      <th scope="col">Fecha Nacimiento</th>
      <th scope="col">Email</th>
      <th scope="col">Admin</th>
    </tr>
  </thead>
  <tbody id="bodyTableMonitor">
    
  </tbody>
</table>

{{!-- SE DEBE CREAR ARCHIVO --}}
<script src="/public/assets/js/monitorUsuarios.js"></script>

<script>

const cargarDatosTabla = (usuarios = []) => {
  let filas = "";
  let bodyTable = document.getElementById("bodyTableMonitor");
  bodyTable.innerHTML = "";
    usuarios.forEach(usuario =>{
      filas += `
        <tr>
          <th scope="row">${usuario.id}</th>
          <td>${usuario.nombre}</td>
          <td>${usuario.run}</td>
          <td>${usuario.fechaNacimiento}</td>
          <td>${usuario.email}</td>
          <td>${usuario.admin}</td>
        </tr>
      `
    })

    bodyTable.innerHTML = filas;
}


const main = async () => {
  try{
      
    let response = await fetch("/api/usuarios?token="+token)

    let result = await response.json();

    if(result.code == 200){
      cargarDatosTabla(result.usuarios);
    }else {
      alert(result.message);
    }

    
  }catch(error){
    alert("Error al obtener la data de usuarios.");  
  }
}

main();
</script>
